.sponsors {
	/*padding: 1%;*/
	/*margin: 5%;*/
	width: 100%;
}

.folio-item {
	margin-top: 5px;
}

.spons-top {
	
}

#portfolio {
	margin-top: -10%;
	/*background: black;*/
	background-image: url("../images/intro-bg.jpg");
}